<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.legacy.mapper.EmailMapper">
    <insert id="savedVerificationCode">
        insert into email_verification
            (email, code, expires_at)
        values
            (#{email}, #{code}, date_add(now(), interval 3 minute))
    </insert>
    <select id="existsEmailCode">
        select count(*)
        from email_verification
        where
            email = #{email}
        and
            code = #{code}
    </select>
    <select id="expiresAtEmailCode">
        select count(*)
        from email_verification
        where
            email = #{email}
        and
            code = #{code}
        and
            expires_at > now()
    </select>
</mapper>