<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dorun.mapper.PostMapper">
    <insert id="savePost" useGeneratedKeys="true" keyProperty="dto.id">
        insert into posts (
               email,
               username,
               title,
               distance,
               duration,
               content,
               created_at
        ) values (
               #{email},
               #{username},
               #{dto.title},
               #{dto.distance},
               #{dto.duration},
               #{dto.content},
               now()
        )
    </insert>
    <insert id="savePhotos">
        insert into post_photos (
               post_id,
               photo_path,
               created_at
        ) values
          <foreach collection="photoList" item="path" separator=",">
        (
               #{postId},
               #{path},
               now()
        )
          </foreach>
    </insert>

    <resultMap id="PostWithPhotosMap" type="com.dorun.dto.PostResponseDto">
        <id property="id" column="post_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="distance" column="distance" />
        <result property="duration" column="duration" />
        <result property="username" column="username" />
        <result property="createdAt" column="created_at" />
        <collection property="photos" ofType="java.lang.String">
            <result column="photo_path" />
        </collection>
    </resultMap>

    <select id="selectAllPosts" resultMap="PostWithPhotosMap">
        select
            p.id as post_id,
            p.title,
            p.content,
            p.distance,
            p.duration,
            p.username,
            p.created_at,
            ph.photo_path
        from posts p
        left join post_photos ph
        on p.id = ph.post_id
        order by p.created_at desc
    </select>
</mapper>